{% extends 'base.html' %}
{% from 'bootstrap/pagination.html' import render_pagination %}
{% from 'macros.html' import photo_card %}

{% block title %}{{ user.name }}{% endblock %}

{% block content %}
    {% include 'user/_header.html' %}
    <div class="row">
        <div class="col-md-12">
            {% if photos %}
                {% for photo in photos %}
                    {{ photo_card(photo) }}
                {% endfor %}
            {% else %} <!-- 没有图片时显示提示文字 -->
                <div class="tip text-center">
                    <h3>No photos.</h3>
                    {% if user == current_user %}
                        <!-- 如果是当前用户自己的主要，显示上传页面链接 -->
                        <a class="btn btn-link" href="{{ url_for('main.upload') }}">Upload</a>
                    {% else %} <!-- 否则显示探索页面链接 -->
                        <a class="btn btn-link" href="{{ url_for('main.explore') }}">Explore</a>
                    {% endif %}
                </div>
            {% endif %}
        </div>
    </div>
    {% if photos %}
        <div class="page-footer">
            {{ render_pagination(pagination, align='center') }}
        </div>
    {% endif %}
{% endblock %}