# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
/.idea/vcs.xml
app/__pycache__/
venv/
/.idea/workspace.xml
