[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
flask-pymongo = "*"
flask-sqlalchemy = "*"
mysql-connector = "*"
wtforms = "*"
python-dotenv = "*"
flask-httpauth = "*"
flask-migrate = "*"
xlwings = "*"
xlrd = "*"
coverage = "*"
flask-dropzone = "*"
flask-wtf = "*"
flasgger = "*"

[requires]
python_version = "3.6"
